.note{
    position: relative;
    left: 41%;
    top: 50px;
    font-size: 20px;
    color: darkgreen;
    visibility: hidden;
}
table {
    width: 250px;
    height: 400px;
   margin: 150px auto;
   border-collapse: collapse;
}
table, th, td {
    border:1px solid black;
  }
  th {
    background-color: aquamarine;
  }

td{
    padding: 2px;
    
}
@media only screen and (max-width: 768px) {
    .note{
        left: 23%;
        visibility: visible;
    }
    table {
        width: 100%;
    }
}